[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "disttools"]
	path = disttools
	url = https://github.com/mamc-dci/disttools
[submodule "documenter"]
	path = documenter
	url = https://github.com/mamc-dci/documenter
